doctype html
html
  head
    script(src='/data/lib/head.load.min.js', data-headjs-load='/data/build/js/main.min.js')
    title !{title}
  body
    #loading-screen
    #full-screen(style='display:none')
      .header
        .lang-opt-spacer
        img.header-logo.loadpage(src='/data/img/header.jpg', page-path='/')
        .lang-opt
          // !=t.getSwapLangLink()

      ul.nav
        each menulink in menulinks
          !=t.getPageLink(menulink)
        !=t.getLink('https://fr-fr.facebook.com/lapetitesymphonie', 'title-facebook', true)
        if (admin)
          !=t.getPageLink('admin')

      - var loadPage = (content ? 'false' : 'true')
      #page(current=current, loadPage=loadPage)
        - if (content)
          !=content
      #page-hidden(style='display:none')

      #footer
        #footer-content.align
          #footer-content-left
            b Avec le soutien de
            .align-v(style='margin-top:6px')
                a(href='http://www.normandie.fr/', target='_blank')
                  img(src='/data/img/logo/logo_region.jpg', height='81' style='margin-right:11px')
                a(href='http://www.seinemaritime.net/', target='_blank', style='margin-left: 8px')
                  img(src='/data/img/logo/logo_departement.jpg', width='60')
          #footer-content-right
            form.align-v.newsletterform(method='post', action='/Newsletter', onsubmit='return SubmitForm(this)')
              .align-reset-l
                b Newsletter de La Petite Symphonie
              .align-reset-l
                input.newslettertextinput(type='text', name='newsletter_suscribe', placeholder="Saisir votre e-mail")
                input.newlettersubmit(type='submit', name='newsletter_submit', value="S'inscrire")
      #footbot
        p Copyright © 2016 Hlkz

      - if (admin)
        form(action='Admin', method='post')
          p Connecté en tant qu'administrateur
          button(name='adminDeco', value='y', type='submit') Déconnexion
        a(href='/Admin') Administration

    script(type='application/ld+json', src='/data/json/musicgroup.json')
