doctype html
html
  head
    script(src='/data/lib/head.load.min.js', data-headjs-load='/data/build/js/main.min.js')
    title !{title}
  body
    #loading-screen
    #full-screen(style='display:none')
      .header
        .lang-opt-spacer
        img.header-logo.loadpage(src='/data/img/header.jpg', page-path='/')
        .lang-opt
          // !=t.getSwapLangLink()

      ul.nav
        each menulink in menulinks
          !=t.getPageLink(menulink)
        if (admin)
          !=t.getPageLink('admin')

      - var loadPage = (content ? 'false' : 'true')
      #page(current=current, loadPage=loadPage)
        - if (content)
          !=content
      #page-hidden(style='display:none')

      #footer
        .footer-row
          form.flexc.newsletterform(method='post', action='/Newsletter', onsubmit='return SubmitForm(this)')
            b.align-left Newsletter de La Petite Symphonie
            .flexrc
              input.newslettertextinput(type='text', name='newsletter_suscribe', placeholder="Saisir votre e-mail")
              input.newlettersubmit(type='submit', name='newsletter_submit', value="S'inscrire")
          a.facebook(href='https://fr-fr.facebook.com/lapetitesymphonie', target='_blank')
            img(src='/data/img/logo/facebook.png')
        .footer-row
          span
            b L’association La Petite Symphonie est membre du groupement d’employeurs
            .img-solstice
            b avec le concours de
            a.align-middle(href='http://www.normandie.fr/', target='_blank' style="margin: 0 4px")
              img.align-middle(src='/data/img/logo/logo_region.jpg', height='60')
            a.align-middle(href='http://www.seinemaritime.net/', target='_blank', style='margin: 0 4px')
              img.align-middle(src='/data/img/logo/logo_departement.jpg', height='60')
            //- a(href='http://www.seinemaritime.net/', target='_blank', style='margin-left: 4px')
            img.align-middle(src='/data/img/logo/spedidam.png', height='60', style='margin-left: 4px')
      #footbot
        p Copyright © 2018 Hlkz

      - if (admin)
        form(action='Admin', method='post')
          p Connecté en tant qu'administrateur
          button(name='adminDeco', value='y', type='submit') Déconnexion
        a(href='/Admin') Administration

    script(type='application/ld+json', src='/data/json/musicgroup.json')
