@import 'var.styl'

*
  margin 0
  padding 0
  box-sizing border-box

img
  max-width 100%
  max-height 100%

li
  display block

.h100
  height 100%
.w100
  width 100%
.block
  display block
.hidden
  display none

.align
.align-v
  display flex
  align-items center
.align
  justify-content center
.align-v
  flex-wrap wrap

.align-reset-l
  display flex
  flex 0 0 100%
.align-reset-h
  align-self flex-start

.plr
  padding 0 18px 0 18px
.mt
  margin-top 18px
.mr
  margin-right 18px
.ml
  margin-left 18px
.mb
  margin-bottom 18px

.hCenter
  display flex
  justify-content center
.hCenterImg
  display block
  margin auto

.hMAXv
  display flex
  flex auto
  flex-direction column
  > div
    display flex
    flex-direction column
    flex 1
    justify-content center
  
.hMAXh
  display flex
  flex auto
  flex-direction row
  > div
    display flex
    flex-direction column
    flex 1
    justify-content center
 
.hexpand
  display flex
  flex auto
  flex-direction column
  //flex-wrap nowrap
  

.hparent
  display flex
  flex-direction column
  //flex-wrap nowrap
.hchild
  flex auto
.hchildfixed
  flex none

.border
  border 1px solid

textarea
  width 450px
  height 150px
