
.main-content
  #lmenu.align-reset-h
    li
      b Programmes
    br
    //- tempète
    li: !=t.getPageLink('program1')
    //- flûte
    li: !=t.getPageLink('program6')
    //- mer
    li: !=t.getPageLink('program2')
    //- romantisme
    li: !=t.getPageLink('program3')
    br
    li
      b Programmes romantiques
    //- beethoven
    li: !=t.getPageLink('program5')
    //- sentinelle
    li: !=t.getPageLink('program4')
    br
    li
      b A venir
    //- belle et la bête
    li: !=t.getPageLink('program7')
         
  .page-content.align
    .content-box
      img.imginbox(src='/data/img/programs/Photo programme Beethoven Schumann une filiation.png', width='300', style='margin-right:13px')
      !=t.pug('maintext')
