style.
  .contact {
    background: url("data/img/pages/contacts.jpg");
    background-size: 924px 610.16px;
    width: 924px;
    height: 610.16px;
  }

.align.main-content
  .page-content.align(style='position:relative')
      .contact
      .txtoverimg
        !=t.pug('contact')