#agenda.align.main-content
  table.page-content.align
    tbody
      tr
        td
        td(rowspan='255', style="background:url('/data/img/pages/nuage.jpg'); width:260px; margin-left:10px;")
      tr
        td(style='padding-right:30px;')
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Mars 2017
          br
          h2 Mercredi 29
          | Concert en sextuor (Haydn, Boccherini) 
          br
          br
          | Chapelle Corneille, à Rouen
          br
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Février 2017
          br
          h2 Lundi 27
          | Quatuors avec pianoforte de Mozart 
          br
          br
          | Musée Michel Ciry à Varangeville, dans le cadre de l'Académie Bach 
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Décembre 2016
          br
          h2 Vendredi 09
          | « La Flûte enchantée » de Mozart
          br
          | avec, entre autres, Camille Poul, David Ghilardi, Geoffroy Buffières, Arnaud Marzorati et 15 musiciens de la Petite Symphonie
          br
          br
          | Théâtre municipal de Fontainebleau
          br
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Septembre 2016
          br
          h2 Vendredi 23
          | Quatuors avec pianoforte de Mozart 
          br
          br
          | Fécamp, salle des Abbés à la bénédictine à 20h
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Août 2016
          br
          h2 Vendredi 05
          | St Musicales au Fival en Ardèche à St Etienne de Serres
          br
          | Programme Pianoforte et quintette à vent
          br
          | http://www.musicalesaufival.fr/programme.html
          br
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Juillet 2016
          br
          h2 Samedi 09
          | Festival des 1001 notes en Limousin, à St Priest-Taurion
          br
          | « La Flûte enchantée » de Mozart
          br
          | avec, entre autres, Camille Poul, David Ghilardi, Geoffroy Buffières, Marie-Bénédicte 
          br
          | Souquet, Arnaud Marzorati et 15 musiciens de la Petite Symphonie
          br
          br
          | Informations et réservations sur
          br
          | http://www.festival1001notes.com/
          br
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Avril 2016
          br
          h2 Mercredi 13
          | Sortie du disque « Mozart Piano Quartets » chez Muso
          br
          br
          | La Petite Symphonie vous donne rendez-vous à l'Oratoire du Louvre pour découvrir en musique son tout dernier disque !
          br
          br
          | 20H
          br
          | Oratoire du Louvre, 145 rue Saint Honoré, 75 001 Paris
          br
          | Participation libre
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Mars 2016
          br
          h2 Mercredi 23
          | Musique en Bessin
          br
          | Programme en Trio : Haydn-Mozart
          br
          br
          | Lieu/horaire : 18h et 20h30 à Bayeux
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Janvier 2016
          br
          h2 Mardi 19
          | Programme : Quatuor de Mozart
          br
          br
          | Lieu/horaire : 
          br
          | Juliobona.fr - Le Café à 20h30
          br
          br
          | Réservations: 02 35 38 51 88
          br
          br
          h2 Dimanche 17
          | Programme : 
          br
          | Mozart, Quatuors K475 et K493
          br
          | Haydn, Concertino en Sol M
          br
          br
          | Lieu/horaire :
          br
          | Eglise Saint Eloi de Fresnes à 17h
          br
          br
          | Réservations : Entrée libre
          br
          | Association L'Art de la Fugue
          br
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Décembre 2015
          br
          h2 Mardi 08
          | Programme : Symphonies Théâtrales
          br
          br
          | Joseph Haydn (1732-1809)
          br
          | Symphonie n° 70 en ré majeur, Hob I:70
          br
          | Concerto pour piano en ré majeur, Hob XVIII :11
          br
          br
          | Wolfgang Amadeus Mozart (1756-1791)
          br
          | Concerto pour piano n° 14 en mi bémol majeur, K 449
          br
          br
          | Joseph Martin Kraus (1756-1792)
          br
          | Symphonie en do dièse mineur, VB 140
          br
          br
          | Lieu/horaire : 
          br
          | Conservatoire de Caen - Auditorium Jean-Pierre Dautel à 20h
          br
          | 1 rue du carel - CS 15094
          br(<br='')
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Novembre 2015
          br
          h2 Samedi 21
          | Programme en sextuor : 
          br
          | Boccherini, Haydn, Mozart
          br
          br
          | Lieu/horaire : 
          br
          | Domaine de la Grange-la-Prévôté à 17h
          br
          | Avenue des Régalles
          br
          | 77176 Savigny-le-Temple
          br
          br
          | Réservations : 06 18 49 77 35
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Août 2015
          br
          h2 Dimanche 16
          | Festival des Nuits Musicales de Corps
          br
          | Programme en sextuor : 
          br
          br
          | L. Boccherini
          br
          | Quintette en ut majeur G418 pour quatuor à cordes et pianoforte
          br
          br
          | W.A. Mozart
          br
          | Concerto pour pianoforte n°13 en ut majeur K415
          br
          br
          | J. Haydn
          br
          | Symphonie l?Horloge pour flûte, quatuor à cordes et pianoforte (version J.P Salomon)
          br
          br
          | Lieu/horaire :
          br
          | Eglise de Corps à 20h30
          br
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Mai 2015
          br
          h2 Dimanche 31
          | Programme : La flûte enchantée
          br
          | Dans le cadre des Musicales de Normandie
          br
          | Lieu/horaire : Abbatiale de la Trinité à 18h
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Février 2015
          br
          h2 Lundi 23
          | Programme : Symphonies Théâtrales
          br
          br
          | Joseph Haydn (1732-1809)
          br
          | Symphonie n° 70 en ré majeur, Hob I:70
          br
          | Concerto pour piano en ré majeur, Hob XVIII :11
          br
          br
          | Wolfgang Amadeus Mozart (1756-1791)
          br
          | Concerto pour piano n° 14 en mi bémol majeur, K 449
          br
          br
          | Joseph Martin Kraus (1756-1792)
          br
          | Symphonie en do dièse mineur, VB 140
          br
          br
          | Lieu/horaire : 
          br
          | Théâtre de Lisieux Pays d'Auge à 20h30
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Juin 2014
          br
          h2 Vendredi 13
          | Spectacle à l'issue de la résidence "un artiste, un collège"
          br
          | Lieu/horaire : Théâtre de Duclair à 20h
          br
          br
          h2 Jeudi 12
          | Spectacle en milieu scolaire à l'issue de la résidence "un artiste, un collège"
          br
          | Lieu/horaire : Collège du Trait, temps scolaire
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Mai 2014
          br
          h2 Vendredi 23
          | Concert en sextuor
          br
          | Programme : Une symphonie au Salon
          br
          | Lieu/horaire : Théâtre du château d'Eu
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Mars 2014
          br
          h2 Jeudi 20
          | Action pédagogique au collège du Trait, résidence « un artiste, un collège ».
          br
          br
          h2 Mercredi 19
          | Quintette de l'orchestre de l'Opéra de Rouen & Daniel Isoir
          br
          | Programme : Hummel et Schubert
          br
          | Lieu/horaire : Notre Dame de Gravenchon à 20h30
          br
          br
          h2 Vendredi 14
          | Action pédagogique « Ah vous dirai-je Mozart » à St Romain du Colbosc
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Février 2014
          br
          h2 Mercredi 19
          | Concert en trio
          br
          | Programme : Haydn, CPE Bach, Mozart
          br
          | Lieu/horaire : Juliobona.fr à Lillebonne à 20h30
          br
          br
          h2 Mardi 18
          | Concert en quintette
          br
          | Programme : Des Femmes d?influence dans les salons du XVIIIème siècle
          br
          | Lieu/horaire : Théâtre de l?hôtel de ville du Havre à 20h30/ festival Résonances
          br
          br
          h2 Lundi 10
          | Action pédagogique au collège du Trait, résidence « un artiste, un collège ».
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Janvier 2014
          br
          h2 Jeudi 16
          | Action pédagogique au collège du Trait, résidence « un artiste, un collège ».
          br
          br
          h2 Mercredi 01
          | Concert en trio
          br
          | Programme : CPE Bach, Mozart, Haydn
          br
          | Lieu/horaire :Paris
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Décembre 2013
          br
          h2 Mercredi 11
          | Action pédagogique au collège du Trait, résidence « un artiste, un collège ».
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Novembre 2013
          br
          h2 Mardi 26
          | Quintette de l'orchestre de l'Opéra de Rouen & Daniel Isoir
          br
          | Programme : Hummel et Schubert
          br
          | Lieu/horaire: Théâtre des Arts de Rouen à 20h30
          br
          br
          h2 Vendredi 22
          | Action pédagogique au collège du Trait, résidence « un artiste, un collège ».
          br
          br
          | •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
      tr
        td(style='padding-right:30px;')
          h1 Octobre 2013
          br
          h2 Jeudi 17
          br
          | Récital violon et pianoforte / Stéphanie Paulet & Daniel Isoir
          br
          | Programme : Mozart à la Chapelle des Capucins
          br
          | Lieu/horaire: 8 rue de la Pierre à TOURS (à confirmer)
          br
          br
          h2 Jeudi 17
          | Action pédagogique au collège du Trait, résidence « un artiste, un collège ».
          br
          br
          h2 Mercredi 16
          | Masterclass au Conservatoire à Rayonnement Départemental d'Evreux
          br
          br
