
.align.main-content
  .page-content
    .diskdiv
      .disktext.content-box
        !=t.pug('muso')
      .diskdisk
        img.align-reset-h.ml(src='/data/img/pages/Quartets_Mozart_La_Petite_Symphonie.png', width='300px')
    .diskdiv
      .disktext
        .content-box
          !=t.pug('agogique')
      .diskdisk
        img.align-reset-h.ml(src='/data/img/pages/agogique.jpg', width='300px')
    .diskdiv
      .disktext
        .content-box
          !=t.pug('minoriten')
      .diskdisk
        img.align-reset-h.ml(src='/data/img/pages/minoriten.jpg', width='300px')
    .diskdiv
      .disktext
        .content-box
          !=t.pug('nadaud')
      .diskdisk
        img.align-reset-h.ml(src='/data/img/pages/nadaud.jpg', width='300px')
    .diskdiv
      .disktext
        .content-box
          !=t.pug('cpebach')
      .diskdisk
        img.align-reset-h.ml(src='/data/img/pages/cpebach.jpg', width='300px')
    .diskdiv
      .disktext
        .content-box
          !=t.pug('onslow')
      .diskdisk
        img.align-reset-h.ml(src='/data/img/pages/onslow.jpg', width='300px')
    .diskdiv
      .disktext
        .content-box
          !=t.pug('guillemain')
      .diskdisk
        img.align-reset-h.ml(src='/data/img/pages/guillemain.jpg', width='300px')