
.align.main-content
  #lmenu.ul.align-reset-h
    li: !=t.getPageLink('mecenat')
    li: !=t.getPageLink('mecenat1')

  .page-content-m
    !=t.pug('mecenat')
    .mt.w100
      img.hCenterImg(src='/data/img/pages/partenaires.jpg', width='450px')

  #rmenu